body {
    margin: 0px;
    pading: 0px;
    background: #000;
}

.wd-main {
    width: 95%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid rgb(47, 51, 54);
    padding: 0px;
    overflow: hidden;
}

.wd-form01 {
    width: 100%;
    height: 60px;
    position: relative;
    padding-left: 16px;
    margin-top: 10px;
}

.wd-input01 {
    width: 80%;
    height: 60px;
    background: #212226;
    border: 0px solid #ccc;
    border-radius: 50px;
    padding-left: 80px;
    color: rgb(29, 161, 242);
    outline: none;
    font-size: 18px;
}

.wd-search {
    position: absolute;
    top: 12px;
    left: 40px;
    width: 40px;
    height: 40px;
}

.wd-cl {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 24px;
}

.wd-nav {
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

.wd-nav ul {
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: rgb(110, 118, 125);
}

.wd-nav ul li {
    width: 15%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    font-size: 15px;
    margin: 0px 10px;
}

.wd-active {
    color: rgb(29, 161, 242);
    border-bottom: 2px solid rgb(29, 161, 242);
}

.wd-hf {
    width: 100%;
    height: 20px;
    background: #16171c;
    border-top: 1px solid rgb(47, 51, 54);
}

.wd-new01 {
    width: 100%;
    height: 120px;
    padding-top: 10px;
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-title01 {
    color: rgb(110, 118, 125);
    display: block;
    padding-left: 16px;
    font-size: 13px;
}

.wd-title02 {
    color: rgb(110, 118, 125);
    display: block;
    padding-right: 16px;
}

.wd-title03 {
    color: rgb(255, 255, 255);
    display: block;
    padding-left: 16px;
    font-weight: bold;
    font-size: 13px;
}

.wd-title04 {
    color: rgb(110, 118, 125);
    display: block;
    padding-left: 16px;
    font-size: 13px;
}

.wd-img01 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 16px;
    float: right;
}

.wd-author01 {
    display: block;
    float: left;
    padding-left: 16px;
}

.wd-author02 {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
}

.wd-author03 {
    display: block;
    float: left;
    padding-right: 10px;
}