.container, .container-fluid {
    padding-top: 10px;
}

mynav {
    text-align: left;
}

.wrapper {
    position: relative;
    padding-bottom: 10px;
}

.iconSearch {
    position: absolute;
    top: 8px;
    left: 5px;
    right: 10px;
}

.wrapper > input {
    text-indent: 20px;
    background-color: #000000;
    color: #000000
}

.search, .search:focus {
    height: 35px;
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid #dee2e6
}

.bg {
    background-color: #000000;
    color: #ffffff
}

#div1 div {
    width: 200px;
    height: 200px;
    border: 1px solid #FF0000;
    display: none;
}

.active {
    background: red;
}

* {
    margin: 0;
    padding: 0;
}

.tab:after {
    content: '';
    display: block;
    clear: both;
}

.tab li {
    width: 70px;
    height: 22px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
    list-style: none;
    float: left;
    margin: 0 10px;
    border-radius: 5px;
}

.tab li.active {
    background: #000;
    color: #fff;
}

.content:after {
    content: '';
    display: block;
    clear: both;
}

.content li {
    width: 100%;
    padding: 10px;
    background: #f7f7f7;
    display: none;
}

ul > li {
    list-style: none;
    background-color: #000000;
}

.content li {
    background-color: #000000;
}

ul.tab > li:hover {
    text-decoration: underline;
}

.bga {
    background-color: #201d1d;
}

